/* @import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap"); */
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

Button {
	width: 20vw;
	height: 10vh;
	border-radius: 5px;
	border: black solid 1px;
	font-size: 5vh;
}
/* .flexContainer {
	display: flex;
	justify-content: center;
	align-items: center;
} */
.clacolatorBody {
	width: 100vw;
	height: 100vh;
	background-color: #dcdcdc;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: start;
	gap: 5vh;
}
.solotionArea {
	width: 85vw;
	height: 20vh;
	border: 1px black solid;
	border-radius: 5px;
	background-color: #a9a6a6;
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
	font-family: "Inter", sans-serif;
	font-family: "Lexend Deca", sans-serif;
	font-size: xx-large;
	display: flex;
	align-items: center;
	justify-content: right;
	margin-top: 5vh;
}
.container {
	width: 85vw;
	height: fit-content;
	display: grid;
	grid-template-columns: repeat(4, 20vw);
	grid-template-rows: repeat(5, 10vh);
	column-gap: 2vw;
	row-gap: 2vw;
}

@media (max-width: 769px) {
	.solotionArea {
		width: 99vw;
		height: 20vh;
		margin-top: 1px;
	}
	.container {
		width: 99vw;
		height: 75vh;
		grid-template-columns: repeat(4, 23vw);
		grid-template-rows: repeat(5, 13vh);
		column-gap: 2vw;
		row-gap: 2vh;
	}
	Button {
		width: 23vw;
		height: 13vh;
	}
}
